{% extends 'base.html.twig' %}

        {% block stylesheets %}
            {{ parent() }}
        {% endblock %}

        {% block javascripts %}
            {{ parent() }}
        {% endblock %}

{% block title %}Torun It On{% endblock %}

{% block body %}

    {% if tournaments is empty %}
        <div class="d-flex justify-content-center" style="min-width: 100vh;">
            <a href="/tournament/new" class="btn btn primary">Create New Tournament</a>
        </div>
    {% else %}
        <div class="d-flex justify-content-center" style="min-width: 100vh;">
            <form class="col-3 col-lg-3 mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
            </form>
        </div>

        <div class="d-flex justify-content-around flex-wrap" style="margin-bottom: 2vh;">
            {% for tournament in tournaments %}
                <div class="d-flex" style="background-color: white; border-radius: 24px; height: 300px; width: 380px; margin-top: 40px;">

                    <div style="padding: 20px; width: 380px;" class="d-flex flex-column align-items-center justify-content-between">
                        <div class="tournament-card order-0">
                            <p class="mb-2">{{ tournament.name }}</p>
                        </div>
                        <div class="tournament-body order-1">
                            <img width="150px" height="150px" src="{{ tournament.logoURL }}" alt="">
                        </div>
                        <div class="tournament-footer d-flex flex-row order-2 align-items-center justify-content-between" style="width: 300px;">
                            <div class="" style="width: 150px;">
                                <p style="margin: 0;">{{ tournament.startTime | date("d.m.Y H:i") }}</p>
                                <p style="margin: 0;">{{ tournament.endTime | date("d.m.Y H:i") }}</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center" style="width: 150px;">
                                <div class="">
                                    <a href="{{ path('app_detail', {id: tournament.id}) }}" class="btn btn-primary btn-info">Details</a>
                                </div>
                                {% block settings_button %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block base_footer %}
    {% if is_granted('IS_AUTHENTICATED') %}
    {% endif %}

    <div class="d-flex justify-content-around footer" style="position: fixed; left: 0; bottom: 0; width: 100%">
        <div class="d-flex">
            <h1><a href="/"><img width="40px" height="40px" src="/assets/images/home.png" alt=""> Home</a></h1>
        </div>
        <div class="d-flex">
            {% if is_granted('IS_AUTHENTICATED') %}
                <h1><a href="/tournaments"><img width="40px" height="40px" src="/assets/images/mytourns.png" alt=""> My Tournaments</a></h1>
            {% else %}
                <h1><a href="/login"><img width="40px" height="40px" src="/assets/images/user.png " alt=""> Login</a></h1>
            {% endif %}
        </div>
    </div>
{% endblock %}